footer {
    display: flex;
    align-items: center;
    background-color: $color1;
    justify-content: space-between;
    margin-top: 20px;
    li {
        list-style: none;
        .logorrss{
            height: 20px;
            width: 20px;
            justify-content: space-between;
            margin-left: 5px;
        }
        a {
            font-weight: bold;
            text-decoration: none;
            color: black;
            font-size: 15px;
            margin-top: 20px;
            a:hover {
                color:$color5 ;
            }
        }
    }
    h5{
        text-decoration: underline;
        font-size: 18px;
    }
}


